/* ~~~~~ imports ~~~~~~ */
@import 'normalize';
@import 'mixins';
@import 'skeleton';
/* ~~~~~ after imports ~~~~~~ */

/* ONDREJ */
/* MOBILE FIRST!!!!!
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html{
  font-size: 100% !important;
}
body{
  font-family: 'Helvetica Neue for IBM', 'Helvetica Neue', 'Helvetica', 'Arial', 'Roboto', sans;
  font-size: 16px;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 50px;
}

h3{
    font-size: 2rem;
    letter-spacing: 0rem;
}
h4{
  letter-spacing: 0rem;
}
h5{
  font-size: 1rem;
  letter-spacing: 0rem;
}

img{
  max-width: 100%;
}
textarea {
  min-height: 100px;
}

strong{
  font-weight: 500;
}

/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  border-radius: 0px;
  font-size: 1rem;
  text-transform: none;
  font-weight:normal;
  background-color: #00B4A0;
  border: none;
  letter-spacing: 0;
  line-height: 35px;
  color: white;
  padding: 0 20px;
}
.button-secondary{
  text-decoration: underline;
  color: #fff;
}

.button:hover{
  color:#000;
}

a.button-secondary:hover{
  color:#00B4A0;
}
.home .button-secondary{
  font-size: 0.875rem;
  display: block;
}
hr.short{
  width: 1.3rem;
  margin: 1.5rem 0 0.5rem;
  border: 2px solid black;
}
.home hr.short{
  width: 1.3rem;
  margin: 1.5rem 0 0.5rem;
  border: 2px solid white;
}


/* Navbar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.navbar{
  position: fixed;
  width: 100%;
  z-index: 100;
  background: white;
  height:50px;
  top: 0;
  box-shadow: 0px -2px 7px #676767 ;
}
.navbar .container{
  height:50px;
  @include flexbox();
  @include justify-content(space-between);
}
.navbar .container::after{
  display:none;
}
.navbar .logo{
  color:black;
  font-style: normal;
  font-size: 1.125rem;
  line-height: 1;
  margin-top: -2px;

  em{
    font-style: normal;
    font-weight: 500;
    word-spacing:-0.1rem;
  }
  span{
    font-size: 0.875rem;
  }
}

.navbar li{
  display: inline-block;
  margin: 7px 0 0 17px;
  height: 40px;
}
.navbar li a{
  text-decoration: none;
  padding: 0;
  color: #000;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: normal;
  text-shadow: none;
  vertical-align: sub;
  word-spacing: 1px;
}

.navbar li a:hover{
  color: #00B4A0;
}
.navbar li.active{
  border-bottom: 3px solid #00B4A0;
}

.navbar li.active a{
  color: #00B4A0;
  font-weight: 500;
}

.navbar li.button-propose{
  background-color: #00B4A0;
  height: 37px;
}

.navbar li.button-propose a{
  color: white;
  font-weight: 500;
  padding: 1rem;
}
.navbar li.button-propose a:hover{
  color: #000;
}
.navbar li.active.button-propose{
  border-bottom: 0;
}

.navbar .logo{
  @include align-self(center)
}

/* Slide out*/
#collapsed-icon{
  height:1rem;
  width:auto;
  @include align-self(center)
}
#collapsed-menu{
  position:fixed;
  text-decoration: none;
  width:75vw;
  max-width:300px;
  height:100vh;
  top:50px;
  @include calc(left, "100% + 300px");
  z-index:101;
  background-color:white;

  @include transition(left, 0.6s);

  ul{
    @include flexbox();
    @include flex-flow(column, nowrap)
  }
}

#overlay{
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  background-color: black;
  opacity:0.6;
  z-index:50;
}
#full-menu{
  display:none;
  margin:0;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 3rem 0 3rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
   text-align: left;
}
.section-heading {
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.section-description {
  font-weight: 300;
  margin-bottom: 3rem;
}

/* Home
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.home{
  background: url(../../../images/home-bg.jpg);
  background-size: cover;
  background-position: center bottom;
  color: white;
  text-align: left;
}

.home .home-heading{
  font-weight: 500;
  font-size: 2rem;
}
.home .home-subheading{
  font-weight: 300;
  font-size: 1rem;
}
.home .quotes object{
  width: 1.5rem;
  margin-left: -0.4rem;
}
.home .quotes div{
  font-weight: 300;
}

.home .quotes div span{
  font-weight: 500;
}
.home .quote-1, .home .quote-2, .home .quote-3 {
  margin-bottom: 2rem;
}
.home-artwork{
  margin-bottom: .5rem;
  width: 80%;
  float: right;
  margin: 0 auto 1rem;
}

/* Video section
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section.video-full-screen{
  padding: 2rem 0 5rem;
  background-color: #fff;
  color: black;
  text-align: left;
}
.video-full-screen img{
  display: block;
}

.video-full-screen object{
  width: 2rem;
}

.video-full-screen .video-heading{
  font-weight: 500;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
.video-full-screen .video-subheading{
  font-weight: 300;
  font-size: 0.875rem;
}
.video-full-screen .video-subheading span{
  font-weight: 500;
}


/* About
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.about {
  background-size: cover;
  background-color: #5596E6;
  color: #fff;
  padding-bottom: 5rem;
}
.about-icon {
  margin-bottom: .5rem;
  width: 90px;
  margin: 0 auto;
}
.about-line{
  margin: 0.8em;
  border-top: 1px solid #FFFFFF;
}
.about-heading {
  margin-bottom: .3rem;
  font-weight: 500;
}
.about .section-description{
  margin: 0 0 5rem;
}
.value-description {
  font-weight: 300;
  max-width: 90%;
  margin: 0 auto;
}
.value-image img{
  max-height: 100px;
}
.about .one-third.column.value {
  margin-bottom: 3rem;
}

/* Outcomes
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Categories
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.teaser{
  background-image: url(../../images/teaser-mobile.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  min-height: 16rem;
}
/* Success Stories
–––––––––––––––––––––––––––––––––––––––––––––––––– */

  .hide{
    display:none;
  }
  .show{
    display:block;
  }
  .success-stories .accordion-header{
   background-color: #323C3C;
   color: white;
   box-sizing: border-box;
   padding: 1rem;
   border-bottom: 2px solid #959F9F;
   @include transition(color, 0.5s, ease);
   @include flexbox();
   @include align-items(center);

   svg{
     width:3rem;
     fill:#FFFFFF;
     @include transition(all, 0.5s);
   }
  }
  .success-stories .accordion-header.active{
    color:#00B4A0;
    @include transition(color, 0.5s);

    svg{
      fill: #00B4A0;
      @include transition(all, 0.5s);
      @include transform(rotate(180deg));
    }
  }

  .story{
    background-color: #ECECEC;
  }

  .success-stories{

  }
  .vertical div{
    background-color: white;
    padding: 1rem 1.3rem 1.5rem;
    box-sizing: border-box;
  }
  .success-stories div{
    width: 100%;
    text-align: left;
  }
  .success-stories hr{
    margin:0;
    border-top: 2px solid #ECECEC;
  }

    .success-stories h3{
    font-weight: 500;
    margin-bottom: 0.5rem;
  }
  .success-stories p{
    margin-bottom: 0rem;
  }


  .success-stories .middle .blue1 {
    background-color:#5AAAFA;
  }
  .success-stories .middle .blue2 {
    background-color: #4178BE;
  }
  .success-stories .middle .blue3 {
    background-color: #264A60;
  }
  .success-stories .middle .green1 {
    background-color:#00B4A0;
  }
  .success-stories .middle .green2 {
    background-color: #008571;
  }
  .success-stories .middle .green3 {
    background-color: #005448;
  }
  .success-stories .middle .orange1 {
    background-color:#FFA573;
  }
  .success-stories .middle .orange2 {
    background-color: #FF7832;
  }
  .success-stories .middle .orange3 {
    background-color: #A53725;
  }
  .success-stories .middle div{
    color: #fff;
  }
  .success-stories .large-num{
    font-size: 5.625rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    line-height: 100%;
    letter-spacing: -0.2rem;
  }
  .success-stories .billion{
    font-size: 4.125rem;
    line-height: 1;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  .success-stories  .row{
    @include flexbox();
    @include flex-flow(row, wrap);
  }

/* Categories
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.categories {
  background-size: cover;
  background-color: #747474;
  color: #fff;
}
.categories .section-description {
  margin-bottom: 4rem;
}

/* Requirements
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.requirements{
  background-color: #fff;
  color: black;
}
.requirements .one-third.column{
  margin-bottom: 3rem;
}
.requirements-icon{
  margin-bottom: .5rem;
  width: 5rem;
  margin: 0 auto 1rem;

}
.requirements-heading{
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}
.requirements-line{
  margin: 1rem 0 1.5rem;
  border-top-color: black;
}
.requirements-description{
  text-align: left;
}
.requirements-box{
  background-color: #00B4A0;
  color: white;
  text-align: left;
  padding: 1rem 2rem 0.1rem 1rem;
  text-align: left;
  font-weight: 500;
}
  .requirements-box ul{
    margin-bottom: 0.5rem;
  }
.requirements-box ul li{
  list-style: none;
  padding: 0px 0 0px 35px;
  position: relative;
}

.requirements-box ul li:before {
    content: '';
    background: url(../../images/icons/check.svg) no-repeat left top;
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  left: 0;
}
.requirements-icon-check{
  width: 1.5rem;
}
.requirements .one-third{
  @include flexbox();
  @include flex-flow(column, nowrap);
  @include justify-content(space-between);
}
.requirements .one-third *{
  @include flex(1,1,1);
}

/* Team
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.team{
  background-color: #fff;
  text-align: left;
  color: #000000;
}
.team img{
  width: 100%;
  margin-bottom: .5rem;
}
.team-heading{
  margin-bottom: .1rem;
  font-weight: 500;
  color: #000;
  border-bottom: 1px solid;
  display: table;
}
.team-heading a{
  color: #000;
}
.team-heading a:hover{
  color: #00B4A0;
}
.team-description {
  opacity: .8;
  font-weight: 300;
  color: white;
  margin-bottom: 1.2rem;
  color: #000000;
}

.team .button{
  border-color: #00B4A0;
  color: #00B4A0;
  letter-spacing:0;
  line-height: 35px;
  margin-bottom: 4rem;
}
.team .section-heading,
.team .section-description {
  color: #000;
}

/* Proposal
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.proposal{
  background-color: #3C4646;
  color: #fff;
}
.proposal .section-description{
  margin: 0 0 3rem;
}
.proposal-grid{
  margin-left: 0;
}
.proposal label{
  text-align: left;
  font-weight: 300;
}
.proposal input[type="submit"]{
  border-color: #00B4A0;
  border-radius: 0px;
  font-size: 1rem;
  text-transform: none;
  font-weight: normal;
  background-color: #00B4A0;
  border: none;
  letter-spacing: 0;
  line-height: 35px;
  color: white;
  padding: 0 20px;
  display: block;
  margin-bottom: 1rem;
  letter-spacing: -1px;
  font-weight: 500;
}

.proposal p{
  text-align: left;
}

.proposal textarea{
  resize:vertical;
}
.deadline{
  text-align: left;
}
.deadline span{
  font-size: 3rem;
  color: #00B4A0;
}
.deadline .deadline-desc{
  font-weight: 300;
}
.deadline object{
  display: none;
}
.proposal input, .proposal textarea{
  border-radius: 0;
  border:none;
}

/* Success
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#success, #error{
  display: none;
  position: fixed;
  z-index: 100;
  overflow: auto;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 70%;
  height: auto;

  background-color: white;
  padding: 5rem;

   .close{
    position: absolute;
    width: 2rem;
    right: 2rem;
    top: 2rem;
    cursor: pointer;
  }
}
#success .container .close img{
  cursor: pointer;
}
#success .success-msg{
  display: none;
}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
footer{
  background-color: #3C4646;
  height: 100%;
  padding: 5rem 0 0rem;
}

footer .conntainer{
  padding: 5rem 0;
}

footer .quotes object{
  width: 1.5rem;
}
footer .quotes div{
  font-weight: 300;
  color: #fff;
  font-size: 0.875rem;
}

footer .quotes div .main-quote{
  font-weight: 500;
  font-size: 1.125rem;
  margin-bottom: 0.50rem;

}
footer .quote-1, footer .quote-2, footer .quote-3 {
  margin-bottom: 2rem;
}

footer hr{
  margin-top: 2rem;
  margin-bottom: 0.4rem;
  border-top: 2px solid #959F9F;
}
footer p{
  color: #959F9F;
}


/* Bigger than 550 */
@media (min-width: 550px) {
  .home .button-secondary{
    float: none;
    width:120px;
  }
  .section.video-full-screen .one-half.column{
    width: 100%
  }
  .success-stories .container{
    width: 80% !important;
  }
  .story .success-stories {
    display: flex;
  }
  .story .column-left{
    flex-basis: 40%;
    margin-right: 5px;
    display:flex;
    flex-flow:column nowrap;

  }
  .story .column-right{
    display:flex;
    flex-flow:column nowrap;
    flex-basis: 60%;
  }
  .requirements-box{
    padding: 2rem 2rem 0.1rem 1rem;
  }
  .requirements-box ul{
    margin-bottom: 2.5rem;
  }
  .requirements .one-third.column{
    margin-bottom: 0rem;
  }
  .requirements-description {
    text-align: left;
    min-height: 13rem;
    margin-bottom: 0;
  }
  .requirements-box{
    min-height: 19rem;
    padding: 1rem 1rem 0.1rem 1rem;
  }
  .requirements-box ul li{
    padding: 0px 0 0px 00px;
  }


  .requirements-box ul li:before {
    height: 0px;
    width: 0px;
    top: 0.3rem;
  }
  .teaser{
    background-image: url(../../images/teaser.jpg);
  }

  .seven.columns.proposal-grid{
    width: auto;
  }

  .deadline.four.columns {
    width: 100%;
    margin-left: 0;
  }

}

/* Bigger than 750 */
@media (min-width: 750px) {
    .hide{
    display:block;
  }
  .show{
    display:none !important;
  }
  .section.story {
    padding: 0rem 0 5rem;
    margin-top: 2rem;
  }
  .story-bg{
    background-color: #fff;
    margin-bottom: 2.5rem;
  }
   .story ul.tab-menu{
    float: left;
    width: 100%;
    margin-bottom: 0rem;
  }
  .story ul.tab-menu li{
    margin-bottom: 0;
    margin-bottom: 1rem;
  }
  .story ul.tab-menu li:hover{
    color: #00B4A0;
  }
  .story ul.tab-menu li .story-description{
    font-weight: 300;
    text-align: left;
    margin-bottom: 0.5rem;
    cursor: pointer;
  }
  .story ul.tab-menu li .story-description span{
    font-weight: 500;
  }
  .story ul.tab-menu li .story-line{
    margin: 0em 0 1em;
    border-top: 5px solid transparent;
    width: 80%;
  }
  .story ul.tab-menu li.active .story-line{
    border-top: 5px solid #00B4A0;
  }
  .story ul.tab-menu li.active .triangle{
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #FFF;
    position: absolute;
    margin-top: 1rem;
  }
  .story ul.tab-menu li.active{
    color: #00B4A0;
  }

  .success-stories .vertical{
    @include flex(1,1,31.33%);
    @include justify-content(space-between);
    @include flexbox();
    @include flex-flow(column, nowrap);
  }
  .success-stories .large-num{
    font-size: 5.625rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    line-height: 100%;
    letter-spacing: -0.2rem;
  }
  .success-stories .billion{
    font-size: 4.125rem;
    line-height: 1;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }
  .success-stories .two-thirds{
    @include flex(2, 1, auto);
  }
  .vertical .hide{
    display:block;
  }
  .middle {
    margin: 0 0.8rem 0 0.8rem;
  }
  .success-stories .middle div{
    flex-grow: 1;
  }
  .explore-sketch, .disrupt-sketch, .validation-sketch{
    background-repeat:  no-repeat;
    background-position: bottom;

  }
  .explore-sketch{
    background-image: url(../../images/stories/explore.svg);
  }
  .disrupt-sketch{
    background-image: url(../../images/stories/disrupt.svg);
  }
  .validation-sketch{
    background-image: url(../../images/stories/validate.svg);
    background-size: 85%;
  }
  .item{
    margin-bottom: 0.8rem;
  }



  .navbar .logo,
  .navbar .collapsed-icon{
    @include align-self(center);
  }
  .container {
    width: 90%;
  }
  #full-menu{
    display:block;
  }
  #collapsed-menu, #collapsed-icon, #overlay{
    display:none;
  }
  .hero {
    height: 190px;
  }
  .home h4{
    padding-right: 2rem;
  }
  .hero-heading {
    font-size: 2.6rem;
  }
  .section {
    padding: 2rem 0 5rem;
  }
  .section-description {
    /*max-width: 60%;*/
    margin-left: auto;
    margin-right: auto;
  }
  .categories {
    padding: 15rem 0 8rem;
  }
  .section.video-full-screen {
    padding: 3rem 0 5rem;
  }
  .section.video-full-screen{
    padding: 2rem 0 5rem;
    background: url(../../images/phil-gilbert.jpg);
    background-size: cover;
    color: black;
    text-align: left;
  }
  .section.video-full-screen .one-half.column{
    width: 48%
  }
  .video-full-screen .video-heading{
    margin-bottom: 2rem;
  }
  .video-full-screen img{
    display: none;
  }
  .success-stories .container{
    width: 90% !important;
  }
  .requirements-description {
    min-height: 11rem;
  }
  .requirements-box {
    min-height: 16rem;
    padding: 1rem 1rem 0.1rem 1rem;
  }
  .requirements-box ul li {
    padding: 0px 0 0px 30px;
  }
  .requirements-box ul li:before {
    top: 0.3rem;
  }
  .proposal .section-description {
    max-width: 57%;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  html{
    font-size: 100%;
  }
  .navbar{
    min-height: 50px;
  }
  .navbar .three.columns{
    text-align: left;
  }
  .navbar .nine.columns{
    text-align: right;
  }
  .navbar li{
    display: inline-block;
  }
  .section {
    padding: 7rem 0;
  }
  .section-description{
    max-width: 65%;
    margin: 0 0 3rem;
  }
  .home .home-subheading{
    margin-right: 11rem;
  }
  .about .one-third.column.value {
    margin-bottom: 0rem;
  }
  .section.video-full-screen{
    padding: 5rem 0 15rem;
  }
  .video-full-screen .video-heading{
    margin-right: 4rem;
    margin-bottom: 1rem;
  }
  .section.story {
    padding: 0rem 0 7rem;
    margin-top: 7rem;
  }
  .requirements-heading{
    font-size: 1.5rem;
  }
  .requirements-box{
    min-height: 13rem;
    padding: 2rem 2rem 0rem 1rem;
  }
  .requirements-box ul li {
    padding: 0px 0 0px 50px;
  }
  .requirements-box ul li:before {
    height: 2rem;
    width: 2rem;
    top: 0rem;
  }
  .seven.columns.proposal-grid{
    width:56.6666666667%;
  }
  .deadline object {
    width: 13rem;
    display: block;
  }
  .deadline.four.columns {
    width: 30.6666666667%;
    margin-left: 4%;
  }

  /* temporaly disabled for coding */
  #collapsed-menu{
    display: none;
  }
   #success .success-msg{
    display: block;
    width: 22rem;
    bottom: 0;
    position: absolute;
    right: 2rem;
  }
}
